.main {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);

  display: flex;
  justify-content: center;
  align-items: center;
  background: $brand-background-color;
  overflow-y: auto;


}

.main__button {
  @include font-xs;
  font-family: $main-font-bold;

  padding: 12px 24px;
  color: $white-color;
  background: none;

  border: 1px solid $white-color;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $white-color;
  }
}

@media (min-width: $tablet-width) {
  .main__button {
    @include font-m;
    font-family: $main-font-bold;

    padding: 16px 32px;
  }

  .main--active {
    padding-bottom: 40px;
    align-items: start;
    background: $popup-background-color;
  }
}
