.popup {
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  max-height: 800px;

  padding: 32px 16px 16px;
  background-color: $white-color;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.popup__title {
  @include font-l;
  font-family: $main-font-bold;
  margin-bottom: 16px;
}

.popup__text {
  @include font-xs;
  margin-bottom: 24px;
  color: $text-alt-color;
}

.popup__form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;
}

.popup__calc {
  @include font-s;
  font-family: $main-font-bold;
  margin-bottom: 24px;
}

.popup__button {
  @include font-xs;
  font-family: $main-font-bold;

  width: 100%;
  margin-top: auto;
  padding: 12px;

  color: $white-color;
  box-shadow: 0 0 24px rgba(234, 0, 41, 0.33);
}

.popup__close {
  width: 12px;
  height: 12px;

  position: absolute;
  top: 22px;
  right: 22px;

  &:focus {
    outline: 1px solid #000000;
    outline-offset: 3px;
  }
}

@media (min-width: $tablet-width) {
  .popup {
    min-height: auto;
    width: 453px;
    top: 120px;
    margin-bottom: 40px;
    border-radius: 30px;
  }

  .popup__title {
    @include font-xl;
    font-family: $main-font-bold;
    margin-bottom: 16px;
  }

  .popup__text {
    @include font-s;
    margin-bottom: 24px;
  }

  .popup__button {
    @include font-m;
    font-family: $main-font-bold;
    margin-top: auto;
    padding: 16px;
  }
}

@media (min-width: $desktop-width) {
  .popup {
    width: 552px;
  }
}
